@{
        ViewData["Title"] = "Fale Conosco - Pet Center";
        ViewData["BodyClass"] = "dq-fundo";

}

<div class="container-contato">
    <header>
        <h1>Fale Conosco</h1>
    </header>

    <main class="container">
        <h2>Adoramos ouvir você e seus pets! 🐶</h2>

        <div class="contact-info">
            <a href="https://wa.me/SEUNUMERO" target="_blank" class="contact-card whatsapp">
                <i class="fab fa-whatsapp"></i>
                <h3>WhatsApp</h3>
                <p>Mande uma mensagem e fale conosco rapidinho!</p>
                <span class="detail-text">(11 98845-6659)</span>
            </a>

            <a href="mailto:SEUEMAIL@dominio.com" class="contact-card email">
                <i class="fas fa-envelope"></i>
                <h3>E-mail</h3>
                <p>Prefere escrever? Envie-nos um e-mail.</p>
                <span class="detail-text">(petcenter@gmail.com)</span>
            </a>
        </div>

        <p class="note">Nosso horário de atendimento é de Segunda a Sexta, das 9h às 18h.</p>
    </main>
</div>

<link rel="stylesheet" href="~/css/contato.css" />