@{
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "bg-fundo";
}
<div class="center-container">
    <div class="form-wrapper">
        <form asp-controller="Cliente" asp-action="LoginCliente" method="POST">

            <h1>Login</h1>

            <input id="nome" class="input" placeholder="Nome" name="nome" type="text" required />
            <input id="email" class="input" placeholder="Email" name="email" type="email" required />
            <input id="senha" class="input" placeholder="Senha" name="senha" type="password" required />

            <button class="button">  Login  </button>


            <p class="cadastre">
                Não possui conta? <a asp-controller="Cliente" asp-action="CadastroCliente">Cadastre-se</a>
            </p>

            @if (ViewBag.Erro != null)
            {
                <script>
                    alert("@ViewBag.Erro");
                </script>
            }

        </form>
    </div>
</div>



<link rel="stylesheet" href="~/css/login.css" />